<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}" style=" font-weight:bold; font-size:20px; display: block; margin: 0 auto; text-align: center">
  <label for="name">Enter name: </label>
    <br/>
  <input type="text" th:field="*{username}" id="name">
  <div style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> nameErr </div>
    <br/>
    <label for="age">Enter  age:   </label>
    <br/>
    <input type="text" th:field="*{age}" id="age">
  <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> ageErr </div>
  <br/>
    <label for="email">Enter email:   </label>
    <br/>
    <input type="text" th:field="*{email}" id="email">
  <div style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> mailErr </div>
    <br/>
   <label for="password"> Enter password: </label>
    <br/>
   <input type="password" th:field="*{password}" id="password">
  <div style="color:darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> passErr </div>
    <br/>

    <label for="users_roles">Select roles </label>
    <br/>
    <select id="users_roles" name="users_roles" multiple size="2" >
        <option th:each="role : ${users_roles}"
                th:value="${role}"
                th:text="${role}">
        </option>
    </select>
    <br/>
  <input type="submit" value="Update" class="btn btn-primary">
</form>

<br/>
<a href="/logout" style="text-align:center; font-weight:bold; font-size:20px; display: block; margin: 0 auto;" >Logout</a>

</body>
</html>