<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>

    <style> th, tr, td { text-align: center; } </style>
    <title>Validation Error</title>
</head>
<body>
 <h4 style="color: red">Пользователь не добавлен, данные не валидные, перепроверьте пожалуйста. </h4>
 <br/>
 1. Имя не может быть пустым и должно быть от 2 до 25 символов
 <br/>
 2. Возраст может быть от 1 до 120
 <br/>
 3. Адрес почты должен быть реальным
 <br/>
 <br/>


 <a href="/admin/allUsers" style="font-size: 20px;"> Вернуться к таблице</a>
 <br/>
 <a href="/logout" style="font-size: 20px;"> Logout</a>

</body>
</html>